/* master css 3 Maikol*/

body {
    background: ivory;
}

div {
    background-color: #FFB400;
    border-width: 5px;
    border-style: double;
    border-color: #7FB800;
}

h1 {
    background-color: #F6511D;
}

h2 {
    border: 5px solid #00A6ED;
}

span {
    background-color: #F6511D;
}
